html, body {
    margin: 0;
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;  
}
#header {
    background-image: linear-gradient(141deg, #1fc8db 15%, #16bade 51%, #1e81f5 100%); 
    padding-top: 30px; 
    padding-bottom: 1em;  
    height: 3.2em;
    border-bottom: 5px solid rgb(1, 71, 71);
    display: block;
    width: 100%; 
}
#brand {
    color: #FFFFFF;
    font-family: 'Yatra One', cursive;   
    margin-left: 5em; 
    font-size: 35px;
    font-weight: 500;
    font-weight: bold;    
}
.bg, .bg2 {
    height: 100%;
    width: 100%;
    position: absolute;    
}
.bg {
    -webkit-clip-path: polygon(67% 79%, 100% 38%, 100% 100%, 0% 100%);
    clip-path: polygon(67% 79%, 100% 38%, 100% 100%, 0% 100%);
    z-index: -1;
    background-image: linear-gradient(141deg, #1e81f5 50%, #16bade 90%, #1fc8db 100%); 
    /*background-color: #226dbc;*/
}
.bg2 {
    -webkit-clip-path: polygon(63% 73%, 100% 24%, 100% 100%, 0% 100%);
    clip-path: polygon(63% 73%, 100% 24%, 100% 100%, 0% 100%);

    z-index: -2;
    background-color: #2a5f98;
}
#body {
    height: auto;
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    width: 80%;
}
#score {
    color: #000000;
    font-size: 2em;
}
