html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #FFFFFF;
}
#grid {
    width: 100%;
    height: 100%;
    position: relative;
}
#header {
    background-image: linear-gradient(141deg, #1fc8db 15%, #16bade 51%, #1e81f5 100%); 
    padding-top: 30px; 
    padding-bottom: 1em;  
    height: 3.2em;
    border-bottom: 5px solid rgb(1, 71, 71);
    display: block;    
}
#brand {
    color: #FFFFFF;
    font-family: 'Yatra One', cursive;   
    margin-left: 5em; 
    font-size: 35px;
    font-weight: 500;
    font-weight: bold;    
}
#container {    
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 1em;   
}
#nav {
    width: 20%;    
    height: 100%;
    float: left;
    margin-top: 5px; 
    margin-bottom: 5px;    
}
#labels-card {
    width: 90%;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-top: solid 3px rgb(1, 71, 71);
    margin-top: 0.6em;
    border-radius: 30px 15px 5px 30px;    
}
#labels {
    width: 90%;
    margin: auto;
    margin-top: 7%;       
    height: 12em; 
}
.qno {
    width: 30%;
    height: 2em;
    float: left;/*
    background-image: linear-gradient(141deg, #1fc8db 15%, #16bade 51%);*/
    background-color: #FFFFFF;
    color: #000000;
    font-weight: thin; 
    margin: 1%; 
    padding-bottom: 10%;
    border: solid 1px #16bade;
    /* Enable this color configuration for the button when user answers a question
       and disable the above border property
    border: solid 1px #4CAF50;    
    background-color: #4CAF50;*/
    border-radius: 0.5em;
    text-align: center;             
}
.qno p {
    position: relative;
    transform: translate(0%, 110%);
    margin: auto;
}
#main {
    float: left;
    width: 78%;
    height: 100%;
}
#question-container {
    float: left;
    width: 100%;
    border: 2px black;
    border-top: solid 3px rgb(1, 71, 71);
    margin-top: 1em;
    margin-bottom: 2em;    
    border-radius: 15px 50px 50px 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}
div p {
    margin-left: 1em;
    margin-right: 3em;
}
.radiobtn {
    margin-left: 2em;
    margin-bottom: 1em;    
}
#prev {
	float: left;
	margin-left: 4em;
}
#next {
    float: right;
    position: relative;
    right: 4em;	
}
.btn {
    color: #FFFFFF;
    background-color: #0fa5c7;
    height: 3em;
    border-radius: 3em;
    font-weight: bold;
    padding-right: 1em;
    padding-left: 1em;
    border: none;
    margin-bottom: 2em;
    font-size: 0.8em;    
}
.btn:hover {
    background-color: #0d85a0;    
    color: beige;  
}
.btn:focus {
    outline: none;
}
.btn:active {
    background-color: beige;
    color: #0fa5c7;
    border: solid 1px #0fa5c7;  
}
#footer {
    border-top: 5px solid rgb(1, 71, 71);
    width:100%;
    height: 4em;    
    background-image: linear-gradient(141deg, #1e81f5 0%, #16bade 51%, #1fc8db 90%);
    clear: both;
    text-align: center;
    color: beige;
    font-family: 'Yatra One', cursive; 
    font-weight: bold;
    position: absolute;
    bottom: 0;
}
