html {
    height: 100%;
}
body {
    padding:0;
    margin:0; 
    height: 100%;  
    background-color: #FFFFFF;
}
header {
    background-image: linear-gradient(141deg, #1fc8db 15%, #16bade 51%, #1e81f5 100%);    
    padding-top: 30px;
    padding-bottom: 1em;
    height: 3.2em;
    border-bottom: 5px solid rgb(1, 71, 71);    
}
#brand {
    color: #FFFFFF;
    font-family: 'Yatra One', cursive;   
    margin-left: 5em; 
    font-size: 35px;
    font-weight: 500;
    font-weight: bold;    
}
#container {
    margin: auto;
    width: 80%; 
    height: 100%;   
}
#nav {
    width: 20%;    
    height: 100%;
    float: left;
    border-right: solid 3px rgb(1, 71, 71);
    margin-top: 5px; 
    margin-bottom: 5px; 
}
#labels-card {
    width: 90%;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-top: solid 3px rgb(1, 71, 71);
    margin-top: 0.6em;
    border-radius: 30px 15px 5px 30px;    
}
#labels {
    width: 90%;
    margin: auto;
    margin-top: 7%;       
    height: 12em; 
}
.qno {
    width: 30%;
    height: 2em;
    float: left;/*
    background-image: linear-gradient(141deg, #1fc8db 15%, #16bade 51%);*/
    background-color: #FFFFFF;
    color: #000000;
    font-weight: thin; 
    margin: 1%; 
    padding-bottom: 10%;
    border: solid 1px #16bade;
    /* Enable this color configuration for the button when user answers a question
       and disable the above border property
    border: solid 1px #4CAF50;    
    background-color: #4CAF50;*/
    border-radius: 0.5em;            
}
.qno p {
    position: absolute;    
    transform: translate(50%, -5%);
    text-align: center;
}
#question-container {
    float: right;
    border: 2px black;
    border-top: solid 3px rgb(1, 71, 71);
    margin-top: 1em;
    margin-bottom: 2em;
    width: 78%;
    border-radius: 15px 50px 50px 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}
div p {
    margin-left: 1em;
}

.radiobtn {
    margin-left: 2em;
    margin-bottom: 1em;    
}
#prev {
	float: left;
	margin-left: 4em;
}
#next {
    float: right;
    position: relative;
    right: 4em;	
}
.btn {
    color: #FFFFFF;
    background-color: #0fa5c7;
    height: 3em;
    border-radius: 3em;
    font-weight: bold;
    padding-right: 1em;
    padding-left: 1em;
    border: none;
    margin-bottom: 2em;
}
.btn:hover {
    background-color: beige;
    border: solid 1px #0fa5c7;
    color: #0fa5c7;  
}
footer {
    border-top: 5px solid rgb(1, 71, 71);
    width:100%;
    height: 4em;    
    background-image: linear-gradient(141deg, #1e81f5 0%, #16bade 51%, #1fc8db 90%);
    clear: both;
    text-align: center;
    color: beige;
    font-family: 'Yatra One', cursive; 
    font-weight: bold;
}