body {
    padding:0;
    margin:0;
    background-color: rgba(243, 228, 207, 0.884); 
}
header {
    background-color: darkcyan;
    padding-top: 30px;
    padding-bottom: 1em;
    border-bottom: 5px solid rgb(1, 71, 71);    
}
#brand {
    color: beige;
    margin-left: 5em;
    font-family: cinzel; 
    font-size: 30px;
}
#container {
    margin: auto;
    width: 80%;    
}
#nav {
    width: 20%;
    height: 465px;
    float: left;
    border-right: solid 1px black;
    margin-top: 5px;    
}
#labels-card {
    width: 90%;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-top: solid 3px rgb(1, 71, 71);
    margin-top: 0.6em;
    border-radius: 0.5em;    
}
#labels {
    width: 90%;
    margin: auto;
    margin-top: 7%;       
    height: 12em; 
}
.qno {
    width: 31.25%;
    height: 2em;
    float: left;
    background-color: darkcyan;
    color: white;
    font-weight: bold; 
    margin: 1%; 
    padding-bottom: 10%;        
}
.qno p {
    position: absolute;    
    transform: translate(50%, -5%);
    text-align: center;
}
#question-container {
    float: right;
    border: 2px black;
    border-top: solid 3px rgb(1, 71, 71);
    margin-top: 1em;
    margin-bottom: 2em;
    width: 78%;
    border-radius: 0.5em;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}
div p {
    margin-left: 1em;
}

.radiobtn {
    margin-left: 2em;
    margin-bottom: 1em;    
}
#prev {
	float: left;
	margin-left: 2em;
}
#next {
    float: right;
    position: relative;
    right: 1em;	
}
.btn {
    color: blanchedalmond;
    background-color: darkcyan;
    height: 3em;
    border-radius: 1em;
    font-weight: bold;
    padding-right: 1em;
    padding-left: 1em; 
}
.btn:hover {
    background-color: beige;
    border: solid 1px darkcyan;
    color: darkcyan;  
}
footer {
    border-top: 5px solid rgb(1, 71, 71);
    width:100%;
    height: 4em;
    background-color: darkcyan;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: beige;
}